@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");


*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    behavior: smooth;
   
}html {
    scroll-behavior: smooth;
}


:root {
    --bgOrange: #e84949;
  }
  
.wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
.hero-section{
  width: 1300px;
  
}


img{
    width: 50px;
    
}
.container{
  width: 1200px;
  margin: 0 auto;
}

.nav-bar{
    display:flex ;
    justify-content:space-between;
    align-items: center;
    padding-top: 1rem;
    padding: 5px;
    margin-top: 0 auto;
    text-align: center;
    

    
   
  
}

/* .nav-bar:hover{
  border-radius: 2em / 5em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  transition: all 1.6s;

} */



.nav-logo{
    display: flex;
    
    
    
     
}

.nav-text{
    display: flex;
    gap:2rem;
    padding: 0 4rem
}



.logo-text{
    margin-left:-0.2em ;
    font-size: 29px;
    font-weight: 500;
    position: relative;
    top: 13px;
    

}

.nav-text{
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;

}

.nav-text div a{
    text-decoration: none;
    color: black;
}
    


.nav-text div :hover{
    transition: 1.5s;
    font-weight: bolder;

    

}

.hero-section{
    position: relative;
    display: flex;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    color:rgb(231,231,231);
    font-size: 7rem;
    position: absolute;

    bottom: -16%;
    left: -0%;
    font-weight: bold;
    transition: all 3s;


}

.left-hero-section{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.left-hero-section:hover{
  cursor: pointer;
  box-shadow: 6px 0px 6px rgb(170, 168, 168);
  border-radius:0px 630px 630px 0px;
  transition: 3s;
} 

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color:#4e45d5;
    font-weight: 800 ;
}

.hero-section-sub-heading{
    font-family: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin: 1rem;
    width: 70%;
    font-weight: 500;

}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }

  .hero-section-right{
    position: relative;

  }

  .absolute{
    position:absolute;

  }

  .nav{
    width:300px;

  }

  /* #color{
    background-color: #4e45d5;
  } */

  .user-image{
    padding: 2.5rem;
    border-radius: 10px;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 10s linear infinite;
     
  }

  .user-image img{
    z-index: -9;
  }

  @keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);


    }

    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;

    }

    100%{

        transform: scale(1);
        filter: grayscale(0);


    }
    
  }

  .icon-dots{
    z-index: 5;
    bottom: 1rem;
    right: 0.5rem;
    animation-name: dotAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }

  @keyframes dotAnimation {

    0%{

        transform: translateY(0px);

    }

    50%{
        transform: translateY(-15px);


    }

    100%{

        transform: translateY(0px);


    }
    
  }

  .icon-cube{
    z-index: 8;
    top:0.8rem;
    right: 1rem;
    animation-name: cubeRotate ;
    animation-duration:6s;
    animation-iteration-count: infinite;

    
  }

  @keyframes cubeRotate {

    0%{

        transform: rotateY(0deg) translateY(0px) ;

    }

    50%{
        
      transform: rotateY(180deg) translateY(-12px) ;


    }

    100%{

        
      transform: rotateY(360deg) translateY(0px) ;


    }
    
  }

  .icon-circle{
    

    z-index: 1;
    bottom: 0rem;
    left: 0rem;
    animation-name: shakeEffect;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  @keyframes shakeEffect{

    50%{

      left: 5%;
      bottom: 10%;
    }


    
  }


  .icon-zigzag{
    z-index: 5;
    top:1.5rem;
    left:0.5rem;
    animation-name: zigzag;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    
  }

  @keyframes zigzag {

  50%{
    top:2%;
    left:5%;


  }
    
  }


  .icon-plus{
    z-index: 6;
    top: 0.8rem;
    left: 50%;
    animation: shakeEffectplus 5s ease-in infinite;
    
  }

  @keyframes  shakeEffectplus{
    50%{
      top:3%;
      left:48%;

    }
  }

  .project-section{
    background-color: rgba(231,231,231);
    margin-top: -1.48rem;

  
    width: 100%;
    
  }

  .page-header{
    color: var(--bgOrange);
    text-align: center;
    font-size: 90px;
    padding-top: 30px;

  }

  .project-container{
    border: none;
    max-width: 1200px;
    margin: 0 auto;
    padding:  3rem 0 ;
    display: flex;
    flex-direction: column;
    gap: 120px;
    

  }

  .project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    
    gap:120px;
  }

  .project-card{
    width: 90%;
    height: 550px;
    background-image: url(./projects/Project2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   

  }

  .project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    
  }

  .project-card::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68, #343d68be,#343d687c );
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    


  }



  .project-card:hover::before{
  transform: scaleX(1);
  

  
  }

  .project-card:hover{
    box-shadow: 10px 10px 20px #1f1f1f;
    transition: 2s;
    

  }

  .project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600px;
    color: white;
    z-index: 5;
    display: none;
    

  }
  .project-card:hover .project-number{
    display: block;
  }

  .project-number-left{
    right: -20px;
    top:-48px ;



  }



  .project-number-right{
    left: -12px;
    top: -48px;

  }

  .project-contant{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    transition: 0.9s;
    
    
    padding: 2em;
    bottom: 20%;
    z-index: 10;
    gap: 1em;


  }

  .project-contant-left{
    left: 10%;

  }
  

  .project-contant-right{
    right: 10%;
  }
  
  .project-skills-container{

    width: 70%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;


}
.project-skills{
  width: 40px;
}

.project-heading{
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-sub-heading{
  width: 65%;
  font-size: 16px;
  font-style: italic;
}

.btn-group{
  display: flex;
  gap: 0.9rem;
}

.icon{
  cursor: pointer;

  color: white;
  font-size: 35px;
  transition: color  0 .6s;
  
}

.icon:hover{
  color: var(--bgOrange);
  
}

.project-card:hover .project-contant{
  transform: scale(1.1);
}

#project1{
  background: url(./projects/Project1.png);
  background-size: cover;
  
}

#project2{
  background: url(./projects/Project2.png);
  background-size: cover;
  margin-left: 120px;

}

#project3{
  background: url(./projects/Project3.png);
  background-size: cover;
}

#project4{
  background:url(./projects/Project4.png);
  background-size: cover;
  margin-left: 120px;
} 

.skills-container{
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap:30px;
}

.skills-container-left{
  display: flex;
  flex-direction: column;
  width: 50%;

}

.skills-container-right{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap:2rem ;
  justify-content: center;
}

.skills-fadded-text{
  font-size: 10em;
  font-weight: bold;
  color: rgb(231,231,231);
  user-select: none;
  position: absolute;
  bottom: -24.5%;
  right: -6%;



}
.blob-style{
  z-index: -5;
   color:red;
  
  position: absolute;
  top: 50px;
  animation: blobAnimate 8s infinite linear;
  width: 400px;
  

}

@keyframes blobAnimate {

  50%{
    top: 19%;

    
    
  }

  
}

.skills-logo{
  z-index: 5;
  width: 90px;
}

.skills-logo:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.8s;
}

.skills-heading{
  font-size: 50px;
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px;
}

.caps{
  font-size: 100px;
  

}

.skills-subheading{

  margin-top: 1rem;
  width: 85%;
  text-align: justify;

}

.skills-subheading p{
  margin: 15px 0;

}

.contactus-form-container{
  width: 100%;
  background-color:rgb(231,231,231);
}
.contact-us-heading{
  font-size: 5rem;
  color: var(--bgOrange);
  padding-top: 2rem;


}
.contact-subheading{
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
}
.contactus-form-container{
  margin-top:25px ;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form{
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 70%;
  margin: 2rem 5rem;


}
.form-field-container{
  width: 100%;
}

.formfield{
  width: 80%;
  height: 42px;
  padding: 0 2rem;
  font-size:18px ;

  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 40px;

}
.formfield-textarea{

  width: 50%;
  overflow: scroll;
  

  height: auto;
  padding: 1rem;

}

#submit-btn{
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;

}

#submit-btn:hover{
  scale: 0.9;

}

.submit-icon{
  padding: 0 1rem;
  font-size: 1.5rem;


}

footer{
  position: relative;
  margin-top: 1px;
  background: rgb(15,25,80);
  /* background: linear-gradient(90deg, rgba(15,25,80,1) 35%, rgba(22,43,131,1) 52%, rgba(134,162,158,1) 72%, rgba(72,185,203,1) 92%, rgba(0,212,255,1) 100%); */
  padding: 5rem;

}
.footer-wrapper{
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content:space-around;
  align-items: center;

}

.link-wrapper{
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.link-wrapper div a:hover{
  
  transition: 0.4s;
  color: var(--bgOrange);
  

}

.icon-wrapper{
  display: flex;
  gap: 1.2rem;
}

.footer-fadded-text{
  position: absolute;
  bottom:2px;
  left: 2px;
  font-size: 5rem;

  font-weight: bold;
  color: #233168;

  


}



















   
    
